body{

	background-color: #660066;
}

.dan{
	padding-left: 35%;
	padding-top: 10%;
	height: 400px;
	width: 400px;
	
}

button:hover{
	background-color: #5900b3;
}

button{
	height: 85px;
	width: 80px;
	border-radius: 15px;
	font-size: 30;
}

.move{
	height: 45px;
	width: 330px;
	font-size: 25;
	border-radius: 20px;
}

.dandan{
	padding-top: 10px;
}